.App {
    font-family: sans-serif;
    text-align: center;
    border: "1";
  }

.table{
  border: black 5px solid;
  
}

.header{
  background-color: lightblue;
}

.cuerpo{
  background-color: greenyellow;
}